In [15]:
# Step 0 - import libraries

import pandas as pd
import numpy as np
from sklearn.preprocessing import LabelEncoder
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegressionfrom sklearn import metrics

SyntaxError: invalid syntax (<ipython-input-15-c02c98659695>, line 7)

In [13]:
# Step 1 - Load data
dataset = pd.read_csv("ghw.csv")
dataset.head()

      Gender     Height      Weight
0       Male  73.847017  241.893563
1       Male  68.781904  162.310473
2       Male  74.110105  212.740856
3       Male  71.730978  220.042470
4       Male  69.881796  206.349801
...      ...        ...         ...
9995  Female  66.172652  136.777454
9996  Female  67.067155  170.867906
9997  Female  63.867992  128.475319
9998  Female  69.034243  163.852461
9999  Female  61.944246  113.649103

[10000 rows x 3 columns]

In [14]:
# Step 2 - Analyze data
dataset.info()
dataset.describe()
dataset.isnull().sum()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Gender  10000 non-null  object
 1   Height  10000 non-null  float64
 2   Weight  10000 non-null  float64
dtypes: float64(2), object(1)
memory usage: 234.5+ KB

Gender    0
Height    0
Weight    0
dtype: int64

In [4]:
# Step 3 - Convert Gender to number 
# Using LabelEncoder Start # Comment this section if using other option
X = dataset.iloc[:, :-1].values
y = dataset.iloc[:, 2].values
labelEncoder_gender =  LabelEncoder()
X[:,0] = labelEncoder_gender.fit_transform(X[:,0])

In [18]:
X = np.vstack(X[:, :]).astype(np.float)
X

array([[ 1.        , 73.84701702],
       [ 1.        , 68.78190405],
       [ 1.        , 74.11010539],
       ...,
       [ 0.        , 63.86799221],
       [ 0.        , 69.03424313],
       [ 0.        , 61.94424588]])

In [19]:
# Step 4 - Split data
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.33, random_state=0)

In [20]:
# Step 5 - Fit Regression Model
lin_reg = LinearRegression()
lin_reg.fit(X_train, y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [21]:
# Step 6 - Make Prediction using test data
lin_pred = lin_reg.predict(X_test)

In [22]:

# Step 7 - Model Accuracy
print('R square = ',metrics.r2_score(y_test, lin_pred))
print('Mean squared Error = ',metrics.mean_squared_error(y_test, lin_pred))
print('Mean absolute Error = ',metrics.mean_absolute_error(y_test, lin_pred))

R square =  0.8997266866178407
Mean squared Error =  102.74269532255677
Mean absolute Error =  8.118307902168832

In [23]:
# Step 8 - Predict my weight
my_weight_pred = lin_reg.predict([[0,74]])
print('My predicted weight = ',my_weight_pred)

My predicted weight =  [197.26137838]